{% extends 'base.html.twig' %}

{% block title %}Edit Answer{% endblock %}

{% block navbar %}{% include '/Back/partials/_nav_back.html.twig' %}{% endblock %}

{% block body %}
    <h1>Edit Answer</h1>

    {{ include('Back/answer/_form.html.twig', {'button_label': 'Update'}) }}

{#     <a href="{{ path('app_answer_index') }}">back to list</a> #}

    {{ include('Back/answer/_delete_form.html.twig') }}
{% endblock %}
