#form-div {
    background-image: repeating-linear-gradient(112.5deg, hsla(19,0%,93%,0.2) 0px, hsla(19,0%,93%,0.2) 0px,transparent 0px, transparent 1px,hsla(19,0%,93%,0.2) 1px, hsla(19,0%,93%,0.2) 4px,transparent 4px, transparent 5px,hsla(19,0%,93%,0.2) 5px, hsla(19,0%,93%,0.2) 8px),repeating-linear-gradient(0deg, hsla(19,0%,93%,0.2) 0px, hsla(19,0%,93%,0.2) 0px,transparent 0px, transparent 1px,hsla(19,0%,93%,0.2) 1px, hsla(19,0%,93%,0.2) 4px,transparent 4px, transparent 5px,hsla(19,0%,93%,0.2) 5px, hsla(19,0%,93%,0.2) 8px),linear-gradient(135deg, rgb(238, 238, 238),rgb(121, 121, 121));
    padding-bottom: 3%;
    border-radius: 22.2px;
    box-shadow: 0 0 16px rgba(81, 203, 238, 1);
}


h1 {
    font-family: 'Lobster Two', cursive;
}

p {
    font-family: 'Montserrat', sans-serif;
}
/************** NE PAS COPIER *****************/
/************** NE PAS COPIER *****************/
.animated-link {
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 25px;
}

.animated-link button {
    display: inline-block;
    color: #333;
    border: 1px solid #333;
    padding: 0.5rem 0.5rem;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition:
    transform .15s ease-out,
    color .15s ease-out,
    background-color .15s ease-out,
}

.animated-link:hover button {
    transform: translate(-6px, -6px);
    background:rgb(201, 2, 215) ;
}
/************** NE PAS COPIER *****************/
/************** START BUTTONS COLOR ****************/
.submit-btn {
background-color: #ffc107;
}
/************** FIN BUTTONS COLOR ****************/


#form-div {
    margin-right:50px;
    margin-left:50px;
}

.title-question {
    height: 80px;
}

#hr {
    background-color:#c3bfbf;
}
#practice_content {
    height: 148px;
}
.row-1,
.row-3 {
    margin-top:10px;
}

.submit-link {
    background-color: black; 
}


@media (max-width: 700px) {
    #form-div {
        margin: 10px 20px !important;

    }

    .animated-link,
    .animated-link button {
        margin: 0 0;
        font-size: 1rem;
    }
    
}
