.btn-Sécurité{
    background-color: white;
    border: solid 2px;
    border-color: var(--blue);
    color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
}
.btn-Sécurité:hover{
    background-color: var(--blue);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px var(--blue);
    transition: 1.5s;
}

.btn-Nutrition{
    background-color: white;
    border: solid 2px;
    border-color: var(--yellow);
    color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
}
.btn-Nutrition:hover{
    background-color: var(--yellow);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px var(--yellow);
    transition: 1.5s;
}

.btn-Grossesse{
    background-color: white;
    border: solid 2px;
    border-color: var(--primary);
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
}
.btn-Grossesse:hover{
    background-color: var(--primary);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px var(--primary);
    transition: 1.5s;
}

.btn-Santé{
    background-color: white;
    border: solid 2px;
    border-color: var(--green);
    color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
}
.btn-Santé:hover{
    background-color: var(--green);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px var(--green);
    transition: 1.5s;
}

.btn-Loisir{
    background-color: white;
    border: solid 2px;
    border-color: red;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
}
.btn-Loisir:hover{
    background-color: red;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px var(red);
    transition: 1.5s;
}

@media screen and (min-width: 990px) {

    
    .category-container{
        background-image: url("../asset/img/enjoyedBabies.png");
        background-repeat: no-repeat;
        background-size: 55rem;
        background-position: center;
        background-position-y: -6rem;
    }
}