.banner-owner{
    position: relative;
}

.banner-feature{
    position: absolute;
    top: -24px;
    right: -24px;
    z-index: 1;
    width: 3rem;
}

.autor-pic{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
}
 
#category-nav{
    background-color: var(--primary);
}

.dropdown-item:hover,
    .dropdown-item:focus{
    background-color:  var(--blue);
}

.dropdown .btn{
    background-color: var(--primary);
}

#ask-submit-btn 
{
    position: fixed;
/*     position: -webkit-sticky; */
    top: 32rem;
    left: 1rem;
/*     left: calc(50% - 61px); */
    background-color: var(--primary);
    width: 7rem;
    height: 7rem;
    z-index: 2;
    border-radius: 50%;
    border: solid 1px var(--blue);
    color: white;
}

#ask-submit-btn:hover{
    position: fixed;
/*     position: -webkit-sticky; */
    top: 32rem;
    left: 1rem;
/*     left: calc(50% - 61px); */
    background-color: var(--blue);
    transition: 2s;
    width: 7rem;
    height: 7rem;
    z-index: 2;
    border-radius: 50%;
    border: solid 1px var(--blue);
    color: black;
}

#back-practice-list-btn{
    position: fixed;
/*     position: -webkit-sticky; */
    top: 32rem;
    left: 1rem;
/*     left: calc(50% - 61px); */
    background-color: var(--primary);
    width: 7.5rem;
    height: 7rem;
    z-index: 2;
    border-radius: 50%;
    border: solid 1px var(--blue);
    color: white;
}
#back-practice-list-btn:hover{
    position: fixed;
/*     position: -webkit-sticky; */
    top: 32rem;
    left: 1rem;
/*     left: calc(50% - 61px); */
    background-color: var(--blue);
    transition: 2s;
    width: 8rem;
    height: 7rem;
    z-index: 2;
    border-radius: 50%;
    border: solid 1px var(--blue);
    color: black;
}

.practice-article{
    position: relative;
}

.favorite-practice{
    border: none;
    position: absolute;
    margin-left: 0;
    z-index: 1;
    left: 0;
    top: -25px;
    background: transparent;
    color: var(--primary);

}

.favorite-practice:hover{
    color: palevioletred;
    transition: 2s;
}


.favorite-practice-securite{
    color: var(--blue);
}

.favorite-practice-nutrition{
    color: var(--yellow);
}

.favorite-practice-grossesse{
    color: var(--primary);
}

.favorite-practice-sante-et-soins{
    color: var(--green);
}
.favorite-practice-loisir{
    color: red;
}

.favorite-practice-sommeil{
    color: #E85B0E;
}

