.banner-owner{
    position: relative;
}

.banner-feature{
    position: absolute;
    top: -24px;
    right: -24px;
    z-index: 1;
    width: 3rem;
}

.bottle{
    width: 3rem;

}

.autor-pic{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
}

#category-nav{
    background-color: var(--primary);
}

.category-item{
    background-color: #5dc7ec;
    padding: 0.5rem;
    border-radius: 1rem;
}

.question-div{
    background-color: rgb(247,241,241);
    padding-bottom: 2%;
    border-radius: 22.2px;
    box-shadow: 0 0 16px rgb(81 203 238);
}

.dropdown-item:hover,
    .dropdown-item:focus{
    background-color:  var(--blue);
}

.dropdown .btn{
    background-color: var(--primary);
}

#accordionAnswer{
    background-color: rgb(247,241,241);
    padding-bottom: 2%;
    border-radius: 22.2px;
    box-shadow: 0 0 16px #C237FE;
}

.no-answer{
    background-color: rgb(247,241,241);
    padding-bottom: 2%;
    border-radius: 22.2px;
    box-shadow: 0 0 16px rgb(81 203 238);
}

.submit-btn{
    background-color: var(--primary);
    color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 1rem;
}

.submit-btn:hover,
    .submit-btn:focus{
    background-color: var(--blue);
    color: white;
}

.back-btn{
    background-color: var(--green);
    color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 1rem;
}

.back-btn:hover,
    .submit-btn:focus{
    background-color: var(--blue);
    color: white;
}

#ask-submit-btn{
    position: fixed;
    top: 32rem;
    left: 1rem;
    background-color: var(--primary);
    width: 7rem;
    height: 7rem;
    z-index: 4;
    border-radius: 50%;
    border: solid 1px var(--blue);
    color: white;
}

#ask-submit-btn:hover{
    position: fixed;
    top: 32rem;
    left: 1rem;
    background-color: var(--blue);
    transition: 2s;
    width: 7rem;
    height: 7rem;
    z-index: 4;
    border-radius: 50%;
    border: solid 1px var(--blue);
    color: black;
}

.btn-Sécurité{
    background-color: var(--blue);
    color: white;
    border: solid 2px;
    border-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
}

.btn-Sécurité:hover{
    background-color: white;
    color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px var(--blue);
    transition: 1.5s;
}

.btn-Nutrition{
    background-color: var(--yellow);
    border: solid 2px;
    border-color: var(--yellow);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
}

.btn-Nutrition:hover{
    background-color: white;
    display: flex;
    color: var(--yellow);
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px var(--yellow);
    transition: 1.5s;
}

.btn-Grossesse{
    background-color: var(--primary);
    border: solid 2px;
    border-color: var(--primary);
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    text-align : center;
}

.btn-Grossesse:hover{
    color: var(--primary);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px var(--primary);
    transition: 1.5s;
}

.btn-Santé{
    border: solid 2px;
    border-color: var(--green);
    background-color: var(--green);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
}

.btn-Santé:hover{
    background-color: white;
    color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px var(--green);
    transition: 1.5s;
}

.btn-Loisir{
    background-color: red;
    border: solid 2px;
    display: flex;
    color: white;
    border-color: red;
    flex-direction: column;
    justify-content: center;
    text-align : center;
}

.btn-Loisir:hover{
    color: red;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px var(red);
    transition: 1.5s;
}

.btn-Sommeil{
    border: solid 2px;
    border-color: #E85B0E;
    color: white;
    background-color: #E85B0E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
}

.btn-Sommeil:hover{
    background-color: white;
    display: flex;
    color: #E85B0E;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px var(#E85B0E);
    transition: 1.5s;
}

#round-btn-add{
    position: fixed;
    top: 70vh;
    left: 1em;
    background-color: var(--blue);
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    z-index: 99;
    border: solid 1px var(--primary);
    color: white;
}

#round-btn-add:hover{
    position: fixed;
    width: 8rem;
    height: 8rem;
    background-color: var(--blue);
    transition: 2s;
    z-index: 2;
    border: solid 1px var(--blue);
    color: black;
}

#add-button {
    position: fixed;
    top: 70vh;
    left: 1em;
    background-color: var(--blue);
    width: 2rem;
    height: 2rem;
    z-index: 99;
    border: solid 1px var(--primary);
    color: white;
}

#add-button:hover{
    position: fixed;
    top: 32rem;
    left: 1rem;
    background-color: var(--blue);
    transition: 2s;
    width: 4rem;
    height: 4rem;
    z-index: 2;
    border: solid 1px var(--blue);
    color: black;
}

@media (min-width: 1040px) {
    #round-btn-add {
        display: block;
    }
    #add-button{
        display: none;
    }
}

@media (max-width: 1040px) {
    #round-btn-add {
        display: none;
    }
    #add-button{
        display: block;
    }
}