{% extends 'base.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/question.css') }}"/>
{% endblock %}

{% block title %}Créez une nouvelle bonne pratique{% endblock %}

{% block body %}

<div class="container-question mb-5">
        <div id="form-div">

                <div class="form-group mb-3">
                    <div class="row">
                        <div class="col-md-12 d-xxl-flex justify-content-xxl-center align-items-xxl-center pt-4 title-question">
                            <h1 class="text-center" ><strong>Vous pouvez rédiger une nouvelle bonne pratique !</strong></h1>
                        </div>
                    </div>
                    <hr id="hr">
                    <div class="row">
                        <div class="col-10 col-sm-10 col-md-8 m-auto">
                            <p class="text-center" ><strong>Elle sera soumise à modération : vous la retrouverez sur le site sous 48h en moyenne. </strong></p>
                        </div>
                    </div>
                </div>
            {{ include('Front/practice/_form.html.twig') }}
        </div>
    </div>
{% endblock %}







