{% extends 'base.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
    <h1>Create new Question</h1>

    {{ include('Front/question/_form.html.twig') }}

    <a href="{{ path('category_show_question') }}">back to list</a>
{% endblock %}
