<form method="post" action="{{ path('back_practice_delete', {'id': practice.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cette bonne pratique?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ practice.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
