{% extends 'base.html.twig' %}

{% block title %}New Practice{% endblock %}

{% block body %}
    <h1>Create new Practice</h1>

    {{ include('practice/_form.html.twig') }}

    <a href="{{ path('app_practice_index') }}">back to list</a>
{% endblock %}
