<!DOCTYPE html lang="fr">
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="A website around baby's practices">


  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ asset('asset/logo/logo O\'Baby cercle.png')}}" type="image/x-icon" />

  <!-- Google Web Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@600&family=Lobster+Two:wght@700&display=swap"
    rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css
" />
  <!-- Icon Font Stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
  <!-- /***** A VOIR YOYO  SI TOUJOUR UTILE !!!! *******/ -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" /> 

  <!-- OwlCarousel libraries -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"/>
  <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>

  <!-- Template Stylesheet -->
  {% block stylesheets %}
    {% endblock %}

  <title>O'baby</title>
</head>
<body class="d-flex flex-column min-vh-100">
    {% block navbar %}{% include '/Front/partials/_nav_front.html.twig' %}{% endblock %}

{% for label,flash in app.flashes %}
            {% for message in flash %}
                
            <div class="alert alert-{{ label }} alert-dismissible fade show mb-0" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">

            </button>
            </div>
            {% endfor %}
    {% else %}
    {% endfor %}

    {% block body %}
    {% endblock %}


    {% block footer %}{% include '/Front/partials/_footer_front.html.twig' %}{% endblock %}

</body>

</html>