{% extends 'base.html.twig' %}

{% block stylesheets %}


{% block navbar %}{% endblock %}

<link rel="stylesheet" href="{{ asset('css/errorStyle.css') }}"/>

{% endblock %}

{% block body %}
<div class="block_500">
    <div class="container-500">
        <div class="content">
            <img src="{{ asset('./asset/logo/logo O\'Baby 500.png') }}" alt="logo" srcset="" />
                <h4>Oups !! Une erreur s'est produite...</h4>
                    <p>Les informations transmises doivent être uniques, vérifiez votre adresse mail ou votre pseudonyme</p>
                        <a href="#" class="animated-link back-button">
                            <span> Accueil</span>
                        </a>
        </div>
    </div>
</div> 
{% endblock %}

{% block footer %}
{% endblock %}