{% extends 'base.html.twig' %}

{% block navbar %}{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/errorStyle.css') }}"/>

{% endblock %}

{% block body %}
<div class="block_404">
    <div class="container-404">
        <div class="content">
            <img src="{{ asset('./asset/logo/logo O\'Baby 404.png') }}" alt="logo" srcset="" />
                <h4>Oups !! Page non trouvée</h4>
                    <p>La page que vous souhaitez voir n'existe pas</p>
                        <a href="{{ path('front_home')}}" class="animated-link back-button">
                            <span> Accueil</span>
                        </a>
        </div>
    </div>
</div>    
    <script src="{{ asset('./js/404.js') }}"></script>
{% endblock %}

{% block footer %}
{% endblock %}