{% extends 'base.html.twig' %}

{% block title %}New Category
{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/inscription.css') }}"/>

{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}

	<div id="main-inscription">
		<div class="text-center" id="info-inscription"><img id="logo" src="../asset/logo/logo O'Baby.png" width="200" alt="logo">
			<h1 class="title text-center">Inscription</h1>
			

{{ include('Front/user/_form.html.twig') }}
	
				

{% endblock %}

{% block footer %}{% endblock %}